.cancellation-container
  h2 Cancellations
  // Display cancellation information here
  ul
    li Today's cancellations:
      ul
        li Computer Networks lab session at 10:00 AM
        li Cybersecurity  lecture at 2:00 PM
    li Tomorrow's cancellations:
      ul
        li Software Engineering lab session at 9:00 AM
        li Computer Drawing tutorial at 11:00 AM
  p
    a(href="dashboard.html") Back to Dashboard
