section.schedule-container
  h2 Course Schedule
  table
    thead
      tr
        th Course
        th Instructor
        th Time
        th Room
    tbody
      tr
        td Math 101
        td Prof. Smith
        td Monday 10:00 AM
        td Room A101
      tr
        td History 201
        td Prof. Johnson
        td Wednesday 4:00 PM
        td Room B202
      
  p
    a(href="dashboard.html") Back to Dashboard
