.dashboard-container
  h2 Welcome to Your Dashboard
  // Display user-specific information here
  p
    a(href="schedule.html") View Course Schedule
  p
    a(href="lab_schedule.html") View Lab Schedule
  p
    a(href="cancellation.html") View Cancellations
  p
    a(href="logout.php") Logout
