.schedule-container
  h2 Lab Schedule
  // Display lab schedule here
  p Schedule for today:
    | 09:00 AM - 11:00 AM: Lab session 1
    br
    | 11:30 AM - 01:30 PM: Lab session 2
    br
    | 02:00 PM - 04:00 PM: Lab session 3
  p
    a(href="dashboard.html") Back to Dashboard
