section.registration-container
  h2 Registration
  form(action="register.php", method="POST")
    div
      label(for="username") Username:
      input(type="text", name="username", id="username", placeholder="Enter your username", required)
    div
      label(for="email") Email:
      input(type="email", name="email", id="email", placeholder="Enter your email", required)
    div
      label(for="password") Password:
      input(type="password", name="password", id="password", placeholder="Enter your password", required)
    div
      label(for="confirm_password") Confirm Password:
      input(type="password", name="confirm_password", id="confirm_password", placeholder="Confirm your password", required)
    button(type="submit") Register
